@page "/"
@using System.Collections.Generic
@using System.Globalization


@inject HolidayService holidayService


<!-- Din Razor-kode her -->




<button @onclick="ExecuteSqlQuery" disabled="@queryExecuted" style="margin-bottom: 20px">Kør SQL Query</button>



@if (queryExecuted)
{
    <p>SQL Query er blevet kørt.</p>
}
<table>
    <thead>
    </thead>
    <tbody>
        @foreach (var person in people)
        {
            <tr>
                <td>@($"{person.Navn} er {person.Alder} år, født {person.Fødselsdato.ToString("d MMMM yyyy", new CultureInfo("da-DK"))} og er en {person.Køn}")</td>
            </tr>
        }
    </tbody>
</table>




<button @onclick="GetHolidaysFromDatabase" disabled="@holidaysLoaded">Hent mærkedage</button>


@if (holidays != null)
{
    <table>
        <thead>
            <tr>
                <th>Dato</th>
                <th>Navn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var holiday in holidays)
            {
                <tr>
                    <td>@holiday.date.ToString("d MMMM yyyy", new CultureInfo("da-DK"))</td>
                    <td>@GetDanishHolidayName(holiday.name)</td>
                </tr>
            }
        </tbody>
    </table>
}


<div class="page-container">
    <div class="content">
        <style>
            /* styles.css */
            .page-container {

            }


            .image-container {
                float: right;
                margin-left: 770px;
                position: fixed;
                top: 0;
                left: 0;
            }

        </style>
    </div>
    <div class="image-container">
        <img src="life.jfif" alt="Life">
    </div>
</div>